html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: var(--dark);
    position: sticky;
}

nav{
    display: flex;
    gap: 32px;
}

nav a {
    color: var(--gold);
    font-size: 0.9rem;
}

.btn{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#E85C20;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    width: 200px;
}
.btn:hover{
    transform: scale(1.05);
}

.menu-buttons{
    display: flex;
    gap: 8px;
    padding: 12px;
}

.dish-list{

}
.location-section{
    display: flex;
    gap: 20px;
    padding: 30px 48px;
}

.location-card{
background-color: var(--light-green);
border-radius: 12px;
padding: 24px;
}

.location-name {
font-size: 1.3rem;
font-weight: 600;
color: var(--teal);
}

.location-phone {
color: var(--gold);
font-size: 0.9rem;
}