html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
    background-color: var(--dark);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: var(--dark-green);
    position: sticky;
}

.site-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-green);
    padding: 24px 50px;
}

.home{
background-color: var(--dark);
padding: 0px 28px 48px;
}

.hero-home{
    padding:60px 0px 40px
}

nav{
    display: flex;
    gap: 32px;
}

nav a {
    color: var(--gold);
    font-size: 0.9rem;
}

.btn{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#E85C20;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    width: 200px;
}
.btn:hover{
    transform: scale(1.05);
}

.reserve-btn{
    display: inline-block;
    background-color: var(--gold);
    color:var(--dark);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 10px;
}
.reserve-btn:hover{
    transform: scale(1.05);
}

.menu-buttons{
    display: flex;
    gap: 8px;
    padding: 12px;
}

.section-title{
    color: var(--gold);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
}


.location-section{
    display: flex;
    gap: 20px;
    padding: 30px 48px;
}

.location-card{
background-color: var(--light-green);
border-radius: 12px;
padding: 24px;
}

.location-name {
font-size: 1.3rem;
font-weight: 600;
color: var(--orange);
}

.location-phone {
color: var(--teal);
font-size: 0.9rem;
}