.title{
font-size:1.2rem;
font-weight: 600;
text-transform:uppercase;
color: var(--gold);
}
.title-head{
font-size: 4rem;
font-weight: 500;
color: white;
}
.description{
margin: 10px;
font-size: 0.8rem;
font-weight: 200;
color: #79CDC2;
}